body {
    background-color: rgb(25,25,25);
    color: white;
    font-family: Arial;
    padding: 0;
    margin-left: 1rem;
}

.heading {
    font-size: 30px;
    font-weight: bold;
}

.icon {
    height: 50px;
}

.move-btn {
    background-color: transparent;
    border: 3px solid white;
    border-radius: 50%;
    padding: 2rem;
    margin: 0 1rem 0 0;
    cursor: pointer;
}

.js-result {
    font-size: 24px;
    font-weight: bold;
    margin-top: 2rem;
}

.js-moves {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.js-score {
    margin-top: 2rem;
}

.reset-btn, .auto-play-btn {
    background-color: white;
    color: black;
    padding: 0.5rem 1rem;
    border: none;
    font-size: 15px;
    cursor: pointer;
    margin-right: 0.5rem;
}